#img-bg{
    background-image: url(../../assets/img/code_text_colorful_140555_1280x720.jpg);
  
    min-height: 625px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }